<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Stencil Component Starter</title>

    <script type="module" src="/build/albs.esm.js"></script>
    <script nomodule src="/build/albs.js"></script>
    <script>
      function clickHandler() {
        console.log('handler');
      }
      function changeValue(value) {
        console.log('value changed', value);
      }
    </script>
  </head>
  <body>
    <my-component first="Stencil" last="'Don't call me a framework' JS"></my-component>
    <albs-button onclick="clickHandler" id="btn">Meu Botão</albs-button>
    <albs-button id="btnReset" type="reset">Meu BotãoReset</albs-button>
    <albs-button id="btnSubmit" type="submit">Meu BotãoSubmit</albs-button>
    <albs-button id="btnLoading" loading="true">Meu BotãoLoading</albs-button>
    <albs-button id="btnDisabled" disabled="true">Meu BotãoDisabled</albs-button>

    <hr />
    <h2>Form</h2>
    <form>
      <albs-input type="text" required placeholder="Meu Input"> </albs-input>

      <input type="text" />
      <input type="email" required />
      <albs-button type="submit">Submit</albs-button>
      <albs-button type="reset">Reset</albs-button>
    </form>

    <hr />
    <h2>Input</h2>
    <albs-input type="date"> </albs-input>
    <albs-input type="text" value="string" oninput="changeValue"> </albs-input>
  </body>
</html>
